@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@layer base {
    html {
        font-family: 'Roboto', sans-serif;
        width: 1300px;
        margin: auto;
        @media (max-width:767px) {
          width:auto;
        }
    }
    body {
        margin: 0 50px;
    }
    h1 {
      @apply text-[#292E47] text-[30px] md:text-[60px] md:leading-[70.31px] font-bold;
    }
    h2 {
      @apply text-[#292E47] text-[20px] md:text-[40px] md:leading-[46.88px] font-bold;
    }
    p {
      @apply text-[16px] md:text-[20px] md:leading-[30px] font-normal;
    }
  }